<div class="headerContainer">
    <div>
        <a class="link linkActive" href="../upload">Upload</a>
        <a class="link" href="../list">All Users</a>
        <a class="link" href="../query">Query</a>
    </div>
</div>