<html>
    <head>

    </head>
    <body>
        <h1>Test Form:</h1>
        <form method="post" action="/user">
            Name: <input type="text" name="user[name]"><br>
            Age: <input type="number" name="user[age]"><br>
            Major: <input type="text" name="user[major]"><br>
            <input type="submit" value="Submit">
        </form>       
    </body>

</html>