<html>
    <head>
        <title>Upload User</title>
        <%- include("./partials/headTags") %>
    </head>
    <body>
        <%- include("./partials/header") %>
        <h1>Add Student:</h1>
        <form method="post" action="/addUser">
            Name: <input type="text" name="user[name]"><br>
            Age: <input type="number" name="user[age]"><br>
            Major: <input type="text" name="user[major]"><br>
            Graduation Date: <input type="date" name="user[date]"><br>
            <input type="submit" value="Submit">
        </form>       
    </body>

</html>