<html>
    <head>
        <title>Users</title>
    </head>
    <body>
        <h1>Users:</h1>
        <ul>
            <% for(user of users) { %>
                <li>
                    <%= user.name + " " + user.age + " " + user.major %>
                </li>
            <% } %>
        </ul>
    </body>

</html>